html {
  font-family: "Helvetica Neue", "Helvetica", "Verdana", sans-serif;
}

#csr-mp-vis {
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

#csr-mp-treemap {
  width: 960px;
  height: 500px;
  background: #ddd;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

body {
  color: #333;
  margin: 2em auto;
  max-width: 64em;
  font-family: "Helvetica Neue", "Helvetica", "Lucida Grande", sans-serif;
}

h1 {
  margin-top: 0;
  text-transform: uppercase;
  line-height: 1em;
}

h3 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 4em;
  margin-bottom:0;
  line-height:1em;
}

.intro p {
  margin-top: 0;
  color: #999;
}

#csr-mp-report {
  width: 100%;
  margin-top: 2em;
}

.dept_overview {
  margin-top: 3em;
}

.dept_overview .financials, .dept_overview .figures, .dept_overview .total_variance{
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
}

.dept_overview .financials .fig, .dept_overview .figures .fig {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
}

.dept_overview .total_variance .fig {
  font-size: 2.667em;
  line-height: 1em;
  font-weight: bold;
}

.dept_overview .total_variance.negative .fig {
  color: #2bab2b;
}

.dept_overview .total_variance.positive .fig {
  color: #e54545;
}

.dept_overview .budget_proportion text {
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 3em;
  font-weight: bold;
}

.dept_overview .budget_proportion .legend {
  font-size: 1.5em;
  text-align: center;
}

.dept_overview .top_row {
  margin-bottom: 4em;
}

.dept_overview .left_box {
  margin-right: 2em;
}

.dept_overview .ratings_histogram {
  margin-top: 2em;
}

.depts_dropdown {
    border: 1px solid #333;
    width: 100%;
    overflow: hidden;
    background: #fff url("../img/icon-select.png") no-repeat 97% 50%;
}

.depts_dropdown .department_selector {
  padding: 5px 5px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.depts_table {
  margin-top: 2em;
}

.depts_table table {
  width: 100%;
}

.depts_table th {
  text-align: left;
}

.depts_table th, .depts_table td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.depts_table tr.header {
  border-bottom: 1px solid #333;
}

.depts_table tr:nth-child(even) {
  background-color: #eaeaea;
}

.depts_table .name {
  width: 33%;
}

.depts_table tr:hover:not(.header) {
  background-color: #ddd;
  cursor: pointer;
}

.depts_table tr.header th:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

#csr-mp-treemap text {
  pointer-events: none;
}

#csr-mp-treemap text.label {
  font-size: 0.5em;
}

#csr-mp-treemap rect {
  stroke: #fff;
}

#csr-mp-treemap .child rect {
  fill: #eaeaea;
}

.hover {
  position: absolute;
  background-color: white;
  padding: 1em;
  box-shadow: 4px 4px 2px rgba(10, 10, 10, 0.2);

}

.hover h3 {
  font-size: 1.5em;
}

.hover .n {
  font-weight: bold;
  font-size: 2em;
}

.hover .under .n {
  color: #2bab2b;
}

.hover .over .n {
  color: #e54545;
}

#csr-mp-scatterplot {
  width: 800px;
  height: 450px;
}

#csr-mp-scatterplot .dot {
  fill: #eaeaea;
}
