.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.ratings_histogram {
  padding: 2em 2em;
}

body {
  color: #333;
  margin: 2em auto;
  max-width: 64em;
  font-family: "Helvetica Neue", "Helvetica", "Lucida Grande", sans-serif;
}

#csr-mp-report {
  width: 100%;
  margin-top: 5em;
}

.financials, .figures {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
}

.financials .fig, .figures .fig {
  font-size: 2em;
  font-weight: bold;
}

.financials .total_variance .fig {
  font-size: 4em;
}

.financials .total_variance.negative .fig {
  color: #2bab2b;
}

.financials .total_variance.positive .fig {
  color: #e54545;
}

h1 {
  margin-top: 0;
  text-transform: uppercase;
  line-height: 1em;
}

h3 {
  text-transform: uppercase;
  font-size: 4em;
}

.intro p {
  margin-top: 0;
  color: #999;
}

.depts_dropdown {
    border: 1px solid #333;
    width: 100%;
    overflow: hidden;
    background: #fff url("../img/icon-select.png") no-repeat 97% 50%;
}

.department_selector {
  padding: 5px 5px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;

}

