html {
  font-family: "Helvetica Neue", "Helvetica", "Verdana", sans-serif;
}

#chart {
  width: 960px;
  height: 500px;
  background: #ddd;
}

text {
  pointer-events: none;
}

text.label {
  font-size: 0.5em;
}

.grandparent text {
  font-weight: bold;
}

rect {
  stroke: #fff;
}

rect.child {
  fill: #eaeaea;
}

rect.fill {
  stroke: none;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: #eaeaea;
}

.grandparent:hover rect {
  fill: #ddd;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: none;
}

.children:hover rect.child {
  fill: #ddd;
}

.hover {
  position: absolute;
  background-color: white;
  padding: 1em;
  box-shadow: 4px 4px 2px rgba(10, 10, 10, 0.2);

}

.hover h3 {
  font-size: 1.5em;
}

.hover .n {
  font-weight: bold;
  font-size: 2em;
}

.hover .under .n {
  color: #2bab2b;
}

.hover .over .n {
  color: #e54545;
}
