<h3>{{name}}</h3>
<p class="variance {{variance_direction}}"><span class="n">{{variance}}</span> {{variance_direction}} budget.</p>
<dl>
  <dt>Budget:</dt>
  <dd>{{budget}}</dd>
  <dt>Forecast:</dt>
  <dd>{{spend}}</dd>
</dl>
