<div class="departments_multi_select">
  <ul class="departments">
    {{#departments}}
    <li>
    <input type="checkbox" id="{{id}}" value="{{id}}" />
    <label for="{{id}}">{{label}}</label>
    </li>
    {{/departments}}
  </ul>
  <div class="controls">
    <a href="#" class="select_all">Select all</a> | <a href="#" class="select_none">Select none</a>
  </div>
</div>
