<div class="pure-g top_row">
  <div class="pure-u-1 pure-u-md-2-3">
    <h3 class="name">
    </h3>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    <div class="total_variance"><span class="fig"><span class="n"></span>%</span> <span class="direction_label"></span> budget</div>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-2-3">
    <div class="left_box">
      <div class="pure-g details">
        <div class="pure-u-1 pure-u-md-1-2">
          <ul class="figures">
            <li class="projects_count"><span class="fig n"></span> projects</li>
            <li class="over_budget_count"><span class="fig n"></span> over budget</li>
            <li class="under_budget_count"><span class="fig n"></span> under budget</li>
          </ul>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <ul class="financials">
            <li class="total_budget"><span class="fig">£<span class="n"></span>m</span> budgeted</li>
            <li class="total_forecast"><span class="fig">£<span class="n"></span>m</span> forecast</li>
          </ul>
        </div>
      </div>
      <div class="pure-g">
        <div class="pure-u-1">
          <div class="ratings_histogram">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 budget_pie">
    <div class="budget_proportion"></div>
  </div>
</div>
